
<header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="/admin" class="logo d-flex align-items-center">
        <span class="d-none d-lg-block">Shopmart Admin</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <div class="search-bar">
     
    </div><!-- End Search Bar -->


  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href="/admin">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed"   href="/admin/userdetails">
          </i><span>usermanagement</span>
        </a>
       
      </li>
       <li class="nav-item">
         <a class="nav-link collapsed"  href="/admin/productmanage">
      
          </i><span>productmanagement</span>
        </a>
          
      </li>
       
       <li class="nav-item">
        <a class="nav-link collapsed"  href="/admin/addcatg">
          <i class="bi bi-layout-text-window-reverse"></i><span>catagory management</span></i>
        </a>
        
      </li>
        <li class="nav-item">
        <a class="nav-link collapsed"  href="/admin/ordermanage">
          <i class="bi bi-layout-text-window-reverse"></i><span>Order management</span></i>
        </a>
        
      </li>
      
        <li class="nav-item">
        <a class="nav-link collapsed"  href="/admin/saleschart">
          <i class="bi bi-layout-text-window-reverse"></i><span>saleschart</span></i>
        </a>
        
      </li>
       <li class="nav-item">
        <a class="nav-link collapsed"  href="/admin/salesreport">
          <i class="bi bi-layout-text-window-reverse"></i><span>salesreport</span></i>
        </a>
        
      </li>
         <li class="nav-item">
        <a class="nav-link collapsed"  href="/admin/coupon">
          <i class="bi bi-layout-text-window-reverse"></i><span>coupon management</span></i>
        </a>
        
      </li>
        <li class="nav-item">
        <a class="nav-link collapsed"  href="/admin/banercontrol">
          <i class="bi bi-layout-text-window-reverse"></i><span>Banner management</span></i>
        </a>
        
      </li>

      

     
    
  

     

     
<!-- LOGOUT BUTONNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN------------------------>
      <li class="nav-item">
        <a class="nav-link collapsed" href="/admin/logout">
          <i class="bi bi-box-arrow-in-right"></i>
          <span>Logout</span>
        </a>
      </li><!-- End Login Page Nav -->

   

     
    </ul>

  </aside>
  <!-- End Sidebar-->
